:root {  
    --azul-roal: #2196F3;
    --azul-bebe: #b0d8f8; 
    --azul-escuro2: hsl(225, 97%, 27%);
    --preto: #000000;
    --branco: #ffffff;
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bg-body);
}

#corpo{  
    max-width: 1500px;
    background-color: var(--bg-body);
    min-height: 100vh;
    transition: background-color 0.4s ease;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-logo{
    font-size: 1.4rem;
}