#text-page{
    margin: 50px 80px;
}

#text-page h2{
    font-family: "Montserrat-Light";
    margin-bottom: 10px;
}

#text-page h3{
    font-family: "Montserrat-Medium";
    text-transform: uppercase;
}
